.instruction{
    position: absolute;
    top: 50%;
    color: white;
    margin-top: 27px;
    border: blue 1px solid;
}
ul {
    padding: 0;
}
li{
    padding : 16px;
    list-style: none;
    text-align: left;
}